<div class="row">
  <div class="col-xs-12 col-sm-offset-2 col-sm-8">
    <div class="content">
      <div class="discription">
        <h1>パスワード再発行</h1>
      </div>
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= devise_error_messages! %>

        <div class="form-group">
          <%= f.label :email %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "あなたのメールアドレス" %>
        </div>

        <div class="menu">
          <%= f.submit "再発行する", class: "btn btn-success btn btn-block" %>
          <hr>
        </div>
      <% end %>
      <div class="menu">
      	<%= render "devise/shared/links" %>
        <%= link_to "テキスト一覧へ", texts_path, class: "btn btn-info btn btn-block" %>
      </div>
    </div>
  </div>
</div>
