<%= form_with(model: text, local: true) do |form| %>
  <% if text.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(text.errors.count, "error") %> prohibited this text from being saved:</h2>

      <ul>
      <% text.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :text_title %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content, id: :text_content %>
  </div>

  <div class="field">
    <%= form.label :youtube_code %>
    <%= form.text_field :youtube_code, id: :text_youtube_code %>
  </div>

  <div class="field">
    <%= form.label :slideshare_url %>
    <%= form.text_field :slideshare_url, id: :text_slideshare_url %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
