<section class="main-header">
  <%= image_tag("texts.png") %>
</section>
<section class="about">
  <h2><b>上から順番に進めていきましょう</b></h2>
  <p><b>テキストは少しづつ増やしていきますので、ゆっくり進めてくださいね</b></p>
</section>
<section class="menu">
<% @texts.each do |text| %>
  <%= link_to text.title, text, class: "btn btn-info btn btn-block" %>
<!--   <%= link_to 'Edit', edit_text_path(text) %>
  <%= link_to 'Destroy', text, method: :delete, data: { confirm: 'Are you sure?' } %> -->
<% end %>
</section>
<%= link_to 'New Text', new_text_path %>
