<h1><%= @text.title %></h1>

<div class="movie-wrap">
  <%= movie(@text.youtube_code) if @text.youtube_code.present? %>
</div>

<%= markdown(@text.content) %>

<div class="slide-wrap">
  <%= slide(@text.slideshare_url) if @text.slideshare_url.present? %>
</div>

<%= link_to 'Edit', edit_text_path(@text) %> |
<%= link_to 'Back', texts_path %>
